section.container
    .section__title from the journal
    ul.journal__list
        li.journal__item
            a(href="#").journal__container-img
                img(src="images/journal/journal-1.png", alt="").journal__img
            .journal__container-data
                .journal__container-date
                    .journal__day 21
                    .journal__month Feb
                .journal__container-title
                    .recent-projects__title Ultricies Cras Ullamcorper Elit
                    a(href="#").journal__data Journal, Article  |  7 Comments 
            .journal__text
                | Nulla libero un pharetra augue etiam malesuada magna mollis. Praesent commodo cursus magna scelerisque.
        li.journal__item
            a(href="#").journal__container-img
                img(src="images/journal/journal-2.png", alt="").journal__img
            .journal__container-data
                .journal__container-date
                    .journal__day 21
                    .journal__month Feb
                .journal__container-title
                    .recent-projects__title Ultricies Cras Ullamcorper Elit
                    a(href="#").journal__data Journal, Article  |  7 Comments 
            .journal__text
                | Nulla libero un pharetra augue etiam malesuada magna mollis. Praesent commodo cursus magna scelerisque. 
        li.journal__item
            a(href="#").journal__container-img
                img(src="images/journal/journal-3.png", alt="").journal__img
            .journal__container-data
                .journal__container-date
                    .journal__day 21
                    .journal__month Feb
                .journal__container-title
                    .recent-projects__title Ultricies Cras Ullamcorper Elit
                    a(href="#").journal__data Journal, Article  |  7 Comments 
            .journal__text
                | Nulla libero un pharetra augue etiam malesuada magna mollis. Praesent commodo cursus magna scelerisque. 