div(data-image="images/parallax.png").parallax__container.img-holder
    .container
        section.block-parallax
            .section__title our process
            .parallax__text
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna posuere velit aliquet.
            ul.parallax-process__list
                li.parallax-process__item
                    .parallax-process__bg.parallax-process__bg_1
                    parallax-process__text 1. creatıve ideas
                li.parallax-process__item
                    .parallax-process__bg.parallax-process__bg_2
                    parallax-process__text 2. rapid solution
                li.parallax-process__item
                    .parallax-process__bg.parallax-process__bg_3
                    parallax-process__text 3.magic touch
                li.parallax-process__item
                    .parallax-process__bg.parallax-process__bg_4
                    parallax-process__text 4. award winnıng