.container
    section
        .section__title our recent projects
        ul.recent-projects__list
            li.recent-projects__item
                a(href="#").recent-projects__link
                    .recent-projects__cintainer-img
                        img(src="/images/recent-projects/recent-projects-1.jpg", alt="").recent-projects__img
                    .recent-projects__title Dısk cover Mockup
                    .recent-projects__section Music, PSD, Mockups
                    .recent-projects__description Nulla libero un pharetra augue etiam malesuada magna mollis. Nullam id dolor id nibh ultricies.
            li.recent-projects__item
                a(href="#").recent-projects__link
                    .recent-projects__cintainer-img
                        img(src="/images/recent-projects/recent-projects-2.jpg", alt="").recent-projects__img
                    .recent-projects__title john doe business Card
                    .recent-projects__section Corporate, Card
                    .recent-projects__description Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod erat a ante.
            li.recent-projects__item
                a(href="#").recent-projects__link
                    .recent-projects__cintainer-img
                        img(src="/images/recent-projects/recent-projects-3.jpg", alt="").recent-projects__img
                    .recent-projects__title Infographic Elements
                    .recent-projects__section Element, Graphic
                    .recent-projects__description Euismod quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo.