section.service-section__container
    h2.section__title what we do
    ul.service-section__list
        li.service-section__item
            .service-section__bg.service-section__bg_1
            .service-section__title 
                | Print Design
            .service-section__text
                | Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
        li.service-section__item
            .service-section__bg.service-section__bg_2
            .service-section__title 
                | motion video
            .service-section__text
                | Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
        li.service-section__item
            .service-section__bg.service-section__bg_3
            .service-section__title 
                | Package Design
            .service-section__text
                | Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
        li.service-section__item
            .service-section__bg.service-section__bg_4
            .service-section__title 
                | time management
            .service-section__text
                | Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
    
    