.intro__container
    h1.intro__title Hello! We are Loom Studio
    .intro__text
        | a creative media agency that believes in the power of creative ideas and great design.
.container-slider
    .owl-carousel
        .slider__item
            a(href="#").slider__link
                .slider__container-img
                    img(src="images/slider/slide-1.jpg", alt="").slider__img
                .slider__container-text
                    .slider__text-1
                        | Stationery Branding Mockup
                    .slider__text-2 
                        |Etiam porta sem malesuada 
                        span.active magna 
                        | mollis euismod
        .slider__item
            a(href="#").slider__link
                .slider__container-img
                    img(src="images/slider/slide-2.jpg", alt="").slider__img
                .slider__container-text
                    .slider__text-1
                        | Stationery Branding Mockup
                    .slider__text-2 
                        |Etiam porta sem malesuada 
                        span.active magna 
                        | mollis euismod
        .slider__item
            a(href="#").slider__link
                .slider__container-img
                    img(src="images/slider/slide-3.jpg", alt="").slider__img
                .slider__container-text
                    .slider__text-1
                        | Stationery Branding Mockup
                    .slider__text-2 
                        |Etiam porta sem malesuada 
                        span.active magna 
                        | mollis euismod