@mixin media($query) {
  @if $query {
    @media only screen and (#{$query}) { @content; }
  }
}

%letter-spacing{
    letter-spacing: -0.3em;
}

%inline-block{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

%text-indent{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%text-align-center{
    text-align: center;
}


%clearfix {
    &:before, &:after{
        content: "";
        display: table;
    }
    &:after{
        clear: both;
    }
}

$font-family:'Raleway';

$color-text: #333333;

$active-color: #1abb9c;

h1, h2, h3{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

input{
    outline: none;
    border: none;
}

html, body {
    height: 100%;
    font-family: $font-family;
}


.wrapper{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    display: table-row;
    height: 100%;
    overflow: hidden;
}

.container{
    padding: 0 20px;
    max-width: 1210px;
    margin: 0 auto;
    box-sizing: border-box;
    @extend %clearfix;
    position: relative;
}


.section__title{
    color: #606060;
    font: 800 16px $font-family;
    text-transform: uppercase;
    max-width: 243px;
    margin: 0 auto 40px auto;
    padding: 0 20px;
    text-align: center;
    position: relative;
    &:before{
        content: '';
        width: 82px;
        height: 0;
        border-bottom: 1px solid #e1e1e1;
        position: absolute;
        top: 50%;
        left:-82px;
        @include media("max-width: 480px") {
            display: none;
        }
    }
    &:after{
        content: '';
        width: 82px;
        height: 0;
        border-bottom: 1px solid #e1e1e1;
        position: absolute;
        top: 50%;
        right: -82px;
        @include media("max-width: 480px") {
            display: none;
        }
    }
}





