.footer{
    background: #373737;
    overflow: hidden;
    padding: 69px 0 0 0;
}

.footer-sections__list{
    width: 100%;
    @extend %letter-spacing;
    margin: 0 0 10px;
}

.footer-sections__item{
    @extend %inline-block;
    width: 22%;
    color: #cacaca;
    margin: 0 0 0 4%;
    &:first-child{
        margin: 0;
    }
}

.footer-sections__link{
    display: block;
    font: 700 14px $font-family;
    color: #f0f0f0;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.footer-sections__text{
    font: 500 14px/24px $font-family;
    color: #cacaca;
    margin: 0 0 20px;
    display: block;
}

.footer-sections__contact {
    display: block;
    padding: 0 0 0 25px;
    font: 500 14px/14px $font-family;
    color: #cacaca;
    margin: 0 0 10px;
}

$contact-spacing: 40px;

@import "contact/*.png";



.footer-sections__contact_address {
    @include contact-sprite(adress);
}

.footer-sections__contact_call {
    @include contact-sprite(phone);
}

.footer-sections__contact_mail {
    @include contact-sprite(mail);
}

.footer-sections__date-container{
    
}

.copy__bg{
    background: #333;
    padding: 30px 0;
}

.copy{
    color: #666666;
    font: 500 14px/14px $font-family;
    color: #cacaca;
}