.header{
    border-top: 3px solid #414141;
    overflow: hidden;
    background: #f5f5f5;
    padding: 25px 0;
    margin: 0 0 70px;
}

.container-logo{
    display: block;
    width: 52px;
    height: 52px;
    overflow: hidden;
    float: left;
}

.logo{
    width: 100%;
    height: auto;
}

.navigation__list{
    float: right;
    @extend %letter-spacing;
    padding: 20px 0 0 0;
}

.navigation__item{
    @extend %inline-block;
    margin: 0 0 0 46px;
}

.navigation__link{
    display: block;
    color: #606060;
    text-transform: uppercase;
    font: 800 13px $font-family;
}

.navigation__link_active{
    color: $active-color;
}

