.intro__container{
    color: #606060;
    margin: 0 0 64px;
}

.intro__title{
    font: 800 35px $font-family;
    margin: 0 0 9px;
    @include media("max-width: 700px") {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    @include media("max-width: 480px") {
        font-size: 24px;
    }
}

.intro__text{
    font: 300 25px $font-family;
    @include media("max-width: 700px") {
        text-align: center;
        font-size: 23px;
    }
    @include media("max-width: 480px") {
        font-size: 18px;
    }
}

.container-slider{
    margin: 0 auto 75px auto;
    width: 100%;
}

.slider__item{
    width: 100%;
}

.slider__link{
    display: block;
}

.slider__img{
    display: block;
    height: auto;
    width: 100%;
}

.slider__container-text{
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 10;
    color: #606060;
    @include media("max-width: 960px") {
        bottom: 5px;
        left: 10px;
    }
    
}

.slider__text-1, .slider__text-2{
    background: #fcfbf9;
    padding: 13px 20px;
    margin: 0 0 3px;
    @include media("max-width: 960px") {
        padding: 5px 20px;
    }
    @include media("max-width: 480px") {
        padding: 0 10px;
    }
}

.slider__text-1{
    text-transform: uppercase;
    font: 500 20px $font-family;
    @include media("max-width: 960px") {
        font-size: 16px;
    }
    @include media("max-width: 480px") {
        font-size: 14px;
    }
}

.slider__text-2{
    font: 500 16px $font-family;
    @include media("max-width: 960px") {
        font-size: 13px;
    }
    @include media("max-width: 480px") {
        font-size: 12px;
    }
}

.active{
    color: #1abb9c;
}

.owl-prev, .owl-next{
    height: 45px;
    width: 45px;
    background: #fdfdfd url(../images/arrow.png) no-repeat center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include media("max-width: 700px") {
        height: 30px;
        width: 30px;
    }
    @include media("max-width: 480px") {
        display: none;
    }
}

.owl-prev{
    left: 20px;
    @include media("max-width: 700px") {
        left: 10px;
    }
}

.owl-next{
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
    @include media("max-width: 700px") {
        right: 10px;
    }
}